**/.DS_Store
MaterialAdaptiveDemo/.idea/emulatorDisplays.xml
MaterialAdaptiveDemo/.idea/migrations.xml
MaterialAdaptiveDemo/.idea/studiobot.xml
MaterialAdaptiveDemo/.idea/inspectionProfiles/Project_Default.xml
